main {
  min-height: 70vh;
}

a {
  font-weight: bold;
  color: darkslategrey;
}

a.navbar-item:focus,
a.navbar-item:hover {
  font-size: large;
  transition: all 0.35s ease-in-out;
}
a.navbar-item,
a.navbar-item:focus:not(.is-active),
a.navbar-item:hover:not(.is-active) {
  color: rgba(112, 128, 144, 0.707);
}

.card {
  margin: 1.5em auto;
}

.image.is-96x96 {
  height: 65px;
}

.image.comic {
  width: 60%;
  left: 20%;
}

.navbar-item.field {
  justify-content: center;
}

.navbar-brand {
  min-width: 70%;
}

.pagination {
  margin: 0.5em auto 1.7em;
}
